.fontSizeInput > .sbui-formlayout {
  gap: 0rem;
}

.fontSizeInput > .sbui-formlayout > .sbui-formlayout__content-container-horizontal > .sbui-input-container > .sbui-input {
  border-radius: 0;
  width: 3.5rem;
  text-align: center;
}

.formatButton > .sbui-btn-container > button {
  width: 40px;
}

.formatButton > .sbui-btn-container > button > span {
  @apply w-full;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sbui-modal--large {
  width: 850px !important;
  max-width: 850px !important;
}

div[data-radix-portal]:not(.portal--toast) {
  z-index: 2147483646 !important;
}